<link rel="stylesheet" type="text/css" href="/game_style.css">
<div id = "board_div">
  Hello <%= @player.name %> here's your board:
  <table>
  <% (0..@board.side_length).each do |row| %>
  <tr>
    <% (0..@board.side_length).each do |column| %>
      <% if row == 0 %>
        <td id = "description_cell">
          <%= column unless column == 0 %>
        </td>
      <% elsif column ==0 %>
        <td id = "description_cell">
          <%= (row+64).chr unless row == 0 %>
        </td>
      <% else %>
        <td>
          <a href="/hit">
            <%= "hit" %>
          </a>
        </td>
      <% end %>
    <% end %>
  </tr>

  <% end %>
  </table>
</div>

<div id = "controls">
  <p>
    Select a ship:
    <a href="">
      <%= @ship.class %>
    </a>
  </p>

  <p>Place a ship:</p>
</div>
